@use 'variables' as a; 

.btn {
  width: 23rem;
  display: inline-block;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  border-radius: 5rem;
  font-size: a.$fs-300;
  position: relative;
  box-shadow: 0 1rem 2.5rem 0 var(--color);
  color: a.$color-btn;
  transition: all .1s;
  &:hover {
    box-shadow: 0 .65rem 2rem 0 var(--color);
  }
  &:active {
    translate: 0 .5rem;
  }
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(1, 1.05);
    translate: 0 .1rem;   
    background: var(--color);
    width: 23rem;
    height: 5rem;
    border-radius: 5rem;
    z-index: -1;
  }  
  &__ios {
    --color: hsl(171, 67%, 29%); //once you make changes here, kindly make changes to the variable sass folder accrodingly
    background: a.$color-ios;
  }
  &__mac {
    --color: hsl(213, 90%, 28%);//once you make changes here, kindly make changes to the variable sass folder accrodingly
    background: a.$color-mac;
  }
}


