@use 'variables' as a; 

.footer {
  background: a.$color-footer;
  padding: 4rem 16rem;
  display: flex;
  gap: 14rem;
  width: 100vw;
  height: 15rem;
  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__info {
    color: a.$color-main;
    font-size: a.$fs-300;
    margin-right: 10rem;
    &:hover {
      color: a.$color-active;
    }
  }
  &__social{
    margin-left: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  &__link {
    font-size: 3rem;
    color: a.$color-main;
    &:hover {
      color: a.$color-active;
    }
  }
}

@media screen  and (max-width: 1000px) {
  .footer {
    padding: 4rem;
    gap: 7rem;
    &__info {
      margin-right: 4rem;
    }
    &__social{
      gap: 2rem;
    }
  }
}

@media screen  and (max-width: 500px) {
  .footer {
  display: grid;
  height: auto;
  &__logo {
    margin: auto;
  }
  &__nav {
    flex-wrap: no-wrap;
    gap: 1rem;
  }
  &__info, &__social {
    margin: auto;
  }
}
}