@use 'variables' as a;

.header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(../images/bg-header-desktop.png) no-repeat top; 
  background-size: cover;
  height: 50vh;
  width: 100vw;
  position: relative;
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

.history {
  width: calc(100% - 3rem);
  margin: auto;
  &__btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.track {

  &__details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  &__list {
    max-width: 35rem;
    margin: auto 10rem;
    display: grid;
    gap: 7rem;
    
  }
  &__items{
    list-style-type: none;
  }
}
.access {
  &__device{
    margin: auto;
  }
}
.workflow {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
  }
  &__items{
    list-style-type: none;
    text-align: center;
  }
  &__icon{
    margin: auto;
  }
}
.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen  and (max-width: 780px) {
  .track {
    &__details{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
    &__list {
      max-width: 35rem;
      margin: auto;
      display: grid;
      gap: 7rem;
      text-align: center;
      margin-top: 6rem;
      
    }
    &__items{
      list-style-type: none;
    }
  }
}

@media screen  and (max-width: 500px) {
  .history {
    &__btn{
      gap: 3rem;
    }
  }
  .workflow {
    &__list {
      grid-template-columns: 1fr;
    }
  }
  .partners {
    grid-template-columns: 1fr;
    gap: 5rem;
    &__logo {
      margin: auto;
    }
  }
}


