@use 'variables' as a; 

.mw-700 {
  margin: 0 auto;
  max-width: 70rem;
}



.mt-20 {
  margin-top: a.$m-20;
}
.mt-30 {
  margin-top: a.$m-30;
}
.mt-50 {
  margin-top: a.$m-50;
}
.mt-80 {
  margin-top: a.$m-80;
}
.workflow,.partners {
  max-width: 112rem;
  margin: auto;
}

.history,.track,.access,.workflow,.partners,.download {
  margin-bottom: 10rem; 
}


