@use 'variables' as a; 

.mw-700 {
  margin: 0 auto;
  max-width: 70rem;
}

.mt-20 {
  margin-top: a.$m-20;
}
.mt-30 {
  margin-top: a.$m-30;
}
.mt-50 {
  margin-top: a.$m-50;
}

.history,.track {
  margin-bottom: 10rem; 
}

