@use 'variables' as a;

.heading {
  &__accent {
    color: a.$color-main;
    font-size: a.$fs-800;
    text-align: center;
    font-weight: a.$fw-600;
  }
  &__main {
    color: a.$color-main;
    font-size: a.$fs-700;
    text-align: center;
    font-weight: a.$fw-600;
  }
}

.para {
  &__accent {
    font-size: a.$fs-600;
    text-align: center;
  }
  &__main {
    font-size: a.$fs-500;
    text-align: center;
  }
}