// font //
$ff-main: 'Bai Jamjuree', sans-serif;

// font size//
$fs-800: 4.3rem;
$fs-700: 3.4rem;
$fs-600: 2rem;
$fs-500: 1.8rem;

// font weight//
$fw-400: 400;
$fw-600: 600;

// color //
$color-accent: hsl(71, 73%, 54%);
$color-main: hsl(210, 10%, 33%);
$color-sub: hsl(201, 11%, 66%);
$color-btn: hsl(0, 0%, 100%);
$color-bg: hsl(0, 0%, 100%);
$color-ios: hsl(171, 66%, 44%);
$color-mac: hsl(233, 100%, 69%);

// margin //
$m-20: 2rem;
$m-30: 3rem;
$m-50: 5rem;


//Font size: 18px













